NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=documents-preview
NEXT_PUBLIC_LIBRARY_CONTACT_URL=mailto:thuvien@tayninh.gov.vn
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
ANALYTICS_SALT=
